{% extends "securedpi/dashboard_base.html" %}
{% block body %}
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Profile</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li class="active">
        <strong>Profile</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content">

  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Profile</h5>
        </div>
        <div class="ibox-content">
          <h4><strong>First Name: </strong>{{ user.profile.first_name }}</h4>
          <h4><strong>Last Name: </strong>{{ user.profile.last_name }}</h4>
          <h4><strong>Address: </strong>{{ user.profile.address }}</h4>
          <h4><strong>Phone: </strong>{{ user.profile.phone_number }}</h4>
          <a href="{% url 'edit_profile' user.pk %}" class="btn btn-info">Edit Profile</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <!-- <div class="ibox-title">
          <h5>Change password</h5>
        </div>
        <div class="ibox-content">
          <form action="" method="post">{% csrf_token %}
            <div class="form-group">
              <input type="password" name="current-password" class="form-control" placeholder="Current password" required>
            </div>
            <div class="form-group">
              <input type="password" name="new-password" class="form-control" placeholder="New password" required>
            </div>
            <div class="form-group">
              <input type="password" name="confirm-new-password" class="form-control" placeholder="Confirm new password" required>
            </div>
            <button class="btn btn-primary" type="submit">Update password</button>
          </form>
        </div> -->
      </div>
    </div>
  </div>

</div>
{% endblock %}
