{% extends "securedpi/dashboard_base.html" %}
{% block body %}
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Edit profile</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li class="active">
        <strong>Edit Profile</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content">

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Edit Form</h5>
        </div>
        <div class="ibox-content">
           {% if form.errors %}
             {{ form.errors }}
           {% endif %}

           <div class="form-group">
             <form action="" method="post" class="profile-form">
             {% csrf_token %}


             {{ form }}


               <!-- <label for="first_name">First name</label>
               <input class="form-control" type="text" name="first_name"/>

               <label for="last_name">Last name</label>
               <input class="form-control" type="text" name="last_name"/>

               <label for="address">Address</label>
               <input class="form-control" type="text" name="address"/>

               <label for="phone_number">Phone</label>
               <input class="form-control" type="text" name="phone_number"/> -->


             <button class="btn btn-success" type="submit" >Submit</button>

             </form>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
