{% extends "securedpi/base.html" %}
{% block body %}
<div class="meta">
  <h2><strong>Events Log</strong></h2>
      <ul>
        {% for event in events %}
        <div class='lock-panel'>

          <li class="events">
            <h3><strong>Lock #{{ event.lock_id.title }}</strong></h3>
            <p>lock id: {{ event.lock_id}}</p>
            <p>date created: {{ event.date_created }}</p>
            <p>pi serial: {{ event.serial}}</p>
            <p>access method: {{ event.method }}</p>
            <p>action taken: {{ event.action_taken }}</p>
            <p>{{ event.photo}}</p>
          </li>

        </div>
        {% endfor %}
      </ul>
  </div>

{% endblock %}
