{% extends "securedpi/base.html" %}
{% block body %}
<div class="meta">
  <h2><strong>Access Log</strong></h2>
      <ul>
        {% for event in events %}
        <div class='lock-panel'>

          <li class="events">
            <h3><strong>Lock #{{ event.lock_id }}</strong></h3>
            <p>access time: {{ event.date_created }}</p>
            <p>access method: {{ event.mtype }}</p>
            <p>requested: {{ event.action }}</p>
            <p>result: {{ event.status }}</p>
            {% if event.photo %}
              <p><img class="thumbnail" src="{{ event.photo.url }}"></p>
            {% endif %}
          </li>

        </div>
        {% endfor %}
      </ul>
  </div>

{% endblock %}
