{% extends "securedpi/base.html" %}
{% block body %}
<div class="meta">
  <h2><strong>Access Log</strong></h2>

    {% if not events %}
      <h4><span class="grey">THERE ARE NO EVENTS ACCOSSIATED WITH THIS LOCK</span></h4>
    {% else %}
      <a href="{% url 'delete_old_events' pk=lock_id %}">
        <input type="button" value="Delete 10 oldest events" class="btn btn-primary">
      </a>
    {% endif %}

      <ul>
        {% for event in events %}
        <div class='event-panel'>

          <li class="events">
            <h2><strong>Lock #{{ event.lock_id }}</strong></h2>
            <p><span>access time:</span> {{ event.date_created }}</p>
            <p><span>access method:</span> {{ event.mtype }}</p>
            <p><span>requested:</span> {{ event.action }}</p>
            <p><span>result:</span> {{ event.status }}</p>
            {% if event.photo %}
              <p><img class="thumbnail" src="{{ event.photo.url }}"></p>
            {% endif %}
          </li>

        </div>
        {% endfor %}
      </ul>
  </div>

{% endblock %}
