
{% extends "registration/registration_base.html" %}
{% block title %}Login{% endblock %}

{% block body %}
<h3>Welcome to <strong>Secured Pi</strong></h3>
<p>The best open-source security option out there (probably)
</p>
<p>Login in. To see it in action</p>
{% if error %}
  <h1>{{ error }}</h1>
{% endif %}
<form class="m-t" role="form" method="post" action="">{% csrf_token %}
  <div class="form-group">
    <input type="text" name="username" class="form-control" placeholder="Username" required="">
  </div>
  <div class="form-group">
    <input type="password" name="password" class="form-control" placeholder="Password" required="">
  </div>
  <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

  <a href="#"><small>Forgot password?</small></a>
  <p class="text-muted text-center"><small>Do you not have an account? What are you waiting for?</small></p>
  <a class="btn btn-sm btn-white btn-block" href="{% url "registration_register" %}">Create an account</a>
</form>
<p class="m-t"> <small>Secured Pi &copy; 2016</small> </p>
{% endblock %}
