<!DOCTYPE html>
<html>

<head>

  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Secured Pi | {% block title %} {% endblock %}</title>

  <link rel="stylesheet" href="{% static "vendors/css/fonts/font-awesome.min.css" %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "vendors/css/animate.min.css" %}">
  <link rel="stylesheet" href="{% static "vendors/inspinia/css/style.css" %}">

</head>

<body class="gray-bg">

  <div class="middle-box text-center loginscreen animated fadeIn">
    <div>
      <div>
				<a href="{% url 'dashboard' %}"><img style="max-width: 150px;" src="{% static "img/logo.png" %}"></a>
        <br>
        {% block body %} {% endblock %}

      </div>
    </div>
  </div>


  <!-- Mainly scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>
