{% extends "securedpi/dashboard_base.html" %}

{% block body %}
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Dashboard</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      <li class="active">
        <strong>Dashboard</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content">

  <div class="row">
    {% for lock in locks %}
    <div class="col-lg-6">
      <div class="ibox float-e-margins">

        <div class="ibox-content">
          <h3 class="title"><strong>{{ lock.name }}</strong></h3>
          <p><strong>Lock id:</strong> {{ lock.pk }} </p>
          <p><strong>Serial:</strong> {{ lock.serial }} </p>
          {% if lock.is_active %}

            {% if lock.status == 'locked' %}
              <h4>status: LOCKED</h4>
              <div class="unlock-btn">
                <a href="{% url 'manual_unlock' pk=lock.pk action='unlock' %}">
                  <input type='button' class="btn btn-primary btn-lg btn-block" value='Unlock'>
                </a>
              </div>

            {% elif lock.status == 'pending' %}
              <h4>status: PENDING</h4>
              <a href="{% url 'manual_unlock' pk=lock.pk action='unlock' %}">
                <input type='button' class="btn btn-primary" value='Unlock'>
              </a>
              <a href="{% url 'manual_lock' pk=lock.pk action='lock' %}">
                <input type='button' class="btn btn-primary" value='Lock'>
              </a>

            {% else %}
              <h4>status: UNLOCKED</h4>
              <a href="{% url 'manual_lock' pk=lock.pk action='lock' %}">
                <input type='button' class="btn btn-primary btn-lg btn-block" value='Lock'>
              </a>
            {% endif %}

          {% else %}
            <h4><NOT ACTIVE</h4>
          {% endif %}
          <p><strong>Location:</strong> {{ lock.location }} ({{ lock.description }})</p>
          <p><strong>Facial recognition enabled:</strong> {{ lock.facial_recognition }}</p>
          <p><strong>Date created:</strong> {{ lock.date_created }}</p>
          <p><strong>Date modified:</strong> {{ lock.date_modified }}</p>
          <a href="{% url 'edit_lock' lock.pk %}"><input type="button" class="btn btn-primary btn-small btn-info" value="Edit Details"></a>
          <a href="{% url 'events' lock.pk %}"><input type="button" class="btn btn-primary btn-small btn-info" value="Access Log"></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block js %}
<script>
setTimeout(function(){window.location=window.location;}, 5000);
</script>

{% endblock %}
