<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Secured Pi | {% block title %} {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}

  <!-- Vendor css -->
  <link rel="stylesheet" href="{% static "vendors/css/normalize.css" %}">
  <link rel="stylesheet" href="{% static "vendors/css/fonts/font-awesome.min.css" %}">
  <link rel="stylesheet" href="{% static "vendors/css/animate.min.css" %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static "vendors/inspinia/css/style.css" %}">

  <!-- Custom css -->
  <link rel="stylesheet" href="{% static "css/dashboard/modules.css" %}">
  <link rel="stylesheet" href="{% static "css/dashboard/layout.css" %}">
  <link rel="stylesheet" href="{% static "css/dashboard/base.css" %}">
  {% block css %} {% endblock %}
</head>


<body class="">
  <div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
      <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
          <li class="nav-header">
            <div class="dropdown profile-element">
              <span><img alt="image" class="img-circle" src="{% static "img/profile-pic-empty.png" %} " width="50px"/></span>
              <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ user.username }}</strong>
              </span>
            </div>
            <div class="logo-element">SP</div>
          </li>

          {% url 'dashboard' as dashboard_url %}
          <li {% if request.path == dashboard_url %} class="active" {% endif %}>
            <a href="{% url "dashboard" %}"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
          </li>

          {% url 'profile' as profile_url %}
          <li {% if request.path == profile_url %} class="active" {% endif %}>
            <a href="{% url "profile" %}"><i class="fa fa-user"></i> <span class="nav-label">Profile</span></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-circle-o-notch"></i> <span class="nav-label">Facial Recognition</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
              <li><a href="{% url "securedpi_facerec:train" %}">Face Training</a></li>
              <li><a href="#">Trained Photos</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">

      <div class="row border-bottom">
        <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
              <div class="form-group">
                <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
              </div>
            </form>
          </div>
          <ul class="nav navbar-top-links navbar-right">
            <li>
              <span class="m-r-sm text-muted welcome-message">Welcome to Secured Pi dashboard!</span>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                <i class="fa fa-bell"></i>  <span class="label label-primary">0</span>
              </a>
              <ul class="dropdown-menu dropdown-alerts">
                <li>
                  <a href="profile.html">
                    <div>
                      <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                      <span class="pull-right text-muted small">12 minutes ago</span>
                    </div>
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="grid_options.html">
                    <div>
                      <i class="fa fa-upload fa-fw"></i> Server Rebooted
                      <span class="pull-right text-muted small">4 minutes ago</span>
                    </div>
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <div class="text-center link-block">
                    <a href="notifications.html">
                      <strong>See All Alerts</strong>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </li>
              </ul>
            </li>

            <li>
              <a href="{% url "auth_logout" %}">
                <i class="fa fa-sign-out"></i> Log out
              </a>
            </li>
          </ul>

        </nav>
      </div>

      {% block body %} {% endblock %}

      <div class="footer">
        <div class="pull-right">
          Version <strong>0.1.0</strong> Beta
        </div>
        <div>
          <strong>Copyright</strong> Secured Pi &copy; 2014-2017
        </div>
      </div>

    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="{% static "vendors/plugins/metisMenu/jquery.metisMenu.js" %}"></script>
  <script src="{% static "vendors/plugins/slimscroll/jquery.slimscroll.min.js" %}"></script>
  <script src="{% static "vendors/inspinia/js/inspinia.js" %}"></script>
  {% block js %} {% endblock %}
</body>

</html>
